In [41]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import statistics as stats
data= pd.read_csv('C:/Users/USER/Desktop/Sales_add.csv')
print(data.to_string())

       Month      Region      Manager  Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
0    Month-1  Region - A  Manager - A                          132921                         270390
1    Month-2  Region - A  Manager - C                          149559                         223334
2    Month-3  Region - B  Manager - A                          146278                         244243
3    Month-4  Region - B  Manager - B                          152167                         231808
4    Month-5  Region - C  Manager - B                          159525                         258402
5    Month-6  Region - A  Manager - B                          137163                         256948
6    Month-7  Region - C  Manager - C                          130625                         222106
7    Month-8  Region - A  Manager - A                          131140                         230637
8    Month-9  Region - B  Manager - C                          171259                         226261
9   Month-10  Region - C  Manager - B                          141956                         193735
10  Month-11  Region - B  Manager - C                          159339                         203175
11  Month-12  Region - A  Manager - A                          178939                         276279
12  Month-13  Region - B  Manager - A                          145062                         205180
13  Month-14  Region - A  Manager - A                          151514                         253131
14  Month-15  Region - C  Manager - A                          147463                         229336
15  Month-16  Region - A  Manager - B                          177195                         187305
16  Month-17  Region - A  Manager - C                          140862                         234908
17  Month-18  Region - C  Manager - B                          167996                         191517
18  Month-19  Region - B  Manager - A                          132135                         227040
19  Month-20  Region - A  Manager - B                          152493                         212579
20  Month-21  Region - B  Manager - A                          147425                         263388
21  Month-22  Region - A  Manager - C                          130263                         243020

In [42]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [43]:
data.mean()

C:\Users\USER\AppData\Local\Temp\ipykernel_170288\531903386.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

Sales_before_digital_add(in $)    149239.954545
Sales_After_digital_add(in $)     231123.727273
dtype: float64

In [44]:
data.median()

C:\Users\USER\AppData\Local\Temp\ipykernel_170288\4184645713.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.median()

Sales_before_digital_add(in $)    147444.0
Sales_After_digital_add(in $)     229986.5
dtype: float64

In [45]:
data.mode()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,130263,187305
1,Month-10,NaN,NaN,130625,191517
2,Month-11,NaN,NaN,131140,193735
3,Month-12,NaN,NaN,132135,203175
4,Month-13,NaN,NaN,132921,205180
5,Month-14,NaN,NaN,137163,212579
6,Month-15,NaN,NaN,140862,222106
7,Month-16,NaN,NaN,141956,223334
8,Month-17,NaN,NaN,145062,226261
9,Month-18,NaN,NaN,146278,227040
10,Month-19,NaN,NaN,147425,229336
11,Month-2,NaN,NaN,147463,230637
12,Month-20,NaN,NaN,149559,231808
13,Month-21,NaN,NaN,151514,234908
14,Month-22,NaN,NaN,152167,243020
15,Month-3,NaN,NaN,152493,244243
16,Month-4,NaN,NaN,159339,253131
17,Month-5,NaN,NaN,159525,256948
18,Month-6,NaN,NaN,167996,258402
19,Month-7,NaN,NaN,171259,263388
20,Month-8,NaN,NaN,177195,270390
21,Month-9,NaN,NaN,178939,276279

In [46]:
data.var()

C:\Users\USER\AppData\Local\Temp\ipykernel_170288\445316826.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.var()

Sales_before_digital_add(in $)    2.203456e+08
Sales_After_digital_add(in $)     6.531489e+08
dtype: float64

#### The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [ ]:
#Here number of sample is less than 30 two sample t-test is used.

In [47]:
from scipy.stats import ttest_ind

In [48]:
t_test,p_value=ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [49]:
p_value

2.614368006904645e-16

In [50]:
if p_value<0.05:
    print('There is increase in sales after stepping in to DM')
else:
    print('No change in sales')

There is increase in sales after stepping in to DM

In [ ]:
#Here Null hypothesis is no change in sales after stepping to digital marketing and alternate hypothesis is increase in sales after stepping into digital marketing.p value is greater than 0.05 so null value is regected.So there is increase in sales after stepping in to digiral marketing.

#### Dependency between the features “Region” and “Manager”.

In [ ]:
#Chi square test of independence can be used

In [51]:
from scipy.stats import chi2_contingency

In [52]:
chisqt = pd.crosstab(data.Region,data.Manager,margins=True)

In [55]:
print(chisqt)

Manager     Manager - A  Manager - B  Manager - C  All
Region
Region - A            4            3            3   10
Region - B            4            1            2    7
Region - C            1            3            1    5
All                   9            7            6   22

In [56]:
c,p,dof,expected=chi2_contingency(chisqt)

In [57]:
p

0.962256341757093

In [58]:
if p<0.05:
    print('There is dependancy between Region and Manager')
else:
    print('No dependancy between Region and Manager')

No dependancy between Region and Manager

In [ ]:
#Here pvalue is greater than 0.05 so null hypothesis is accepted.There is no dependancy between features 'Region' and 'Manager'.